@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Oswald:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    display: flex;
}

a{
    text-decoration: 0;
    color: black;
}

.home {
    background-color: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(assets/img1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-position: center;
    background-size: cover;
    position: relative;
}


.home .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.home .logo:after {
    content: "" ;
    position: absolute;
    background-color: white;
    height: 1px;
    width: 100%;
    bottom: -2px;
    left: 0;
}

.home h3, .home h1 {
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 70px;
    letter-spacing: -2px;
    font-family:"Oswald", sans-serif;
}

.home .arrow {
    d
}


.noto-sans-total {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }